<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Splitter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="container">
    <h1>Text Splitter</h1>
    <form method="post">
      <!-- Textarea and Pop-out Button Container -->
      <div class="form-group" id="textarea-group">
        <label for="text">Text:</label><br>
        <textarea name="text" id="text">{{ text }}</textarea>
        <button type="button" onclick="togglePopoutTextarea()" class="toggle-button" id="toggle-button">Pop-out</button>
      </div>

      <!-- Max Length Input Container -->
      <div class="form-group">
        <label for="max_length">Max Length:</label>
        <input type="text" name="max_length" id="max_length" value="{{ max_length }}">
      </div>

      <!-- Remove Timestamps Checkbox Container -->
      <div class="form-group">
        <input type="checkbox" name="remove_timestamps" id="remove_timestamp" {{ 'checked' if remove_timestamp else ''
          }}>
        <label for="remove_timestamp">Remove Timestamps</label>
      </div>

      <!-- Submit Button Container -->
      <div class="form-group">
        <input type="submit" value="Submit">
      </div>
    </form>

    <!-- Popout Overlay Container -->
    <div class="popout-overlay" id="popout-overlay">
      <!-- Content will be moved here dynamically by JavaScript -->
    </div>

    <h2>Results</h2>
    {% for part in parts %}
    <div class="text-part">
      <button class="copy-button" id="copy-button-{{ loop.index }}"
        onclick="copyToClipboard('part{{ loop.index }}', '{{ loop.index }}')">Copy</button>
      <h3>Part {{ loop.index }}</h3>
      <p id="part{{ loop.index }}">{{ part }}</p>
    </div>
    {% endfor %}
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>